# محیط مجازی
venv/
env/
.venv/

# کلیدها و فایل‌های حساس
.env
env.txt
*.env

# کش پایتون
__pycache__/
*.pyc

# آپلودهای کاربر (اختیاری، اگه نمی‌خوای عمومی بشن)
static/uploads/*

# دیتابیس و لاگ
*.sqlite3
*.log